p{
    text-align: center;
    color: brown;
    line-height: 30px;
}
h1{
    text-align: center;
    
}
h3{
    color: black;
    text-align: center;
}
a{
    color: green;
    text-decoration: none;
}
button{
    background-color: white;
    color: blueviolet;
}
textarea{
   color: #000000;
}
span{
    text-decoration: underline;
}